.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-center .form-control{
    max-width: 300px;
    margin: 5px;
}
