.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .vertical-center .form-control {
        max-width: 300px;
        margin: 5px;
    }

#navbar-alignment {
    top: 10px;
}
#devstationlogo {
    height: 75px;
    width: 165px;
}

#navbar-ul {
    margin-top: 17px;
}

.navbar-ul-li {
    font-size: 17px;
}


.nav > li > a:hover {
    background-color: white;
}

/** {
    border: 1px red solid;
}*/

.homepage-div {
    height: 565px;
    width: auto;
    background: linear-gradient( rgba(73, 155, 234, 0.80), rgba(73, 155, 234, 0.60) ), url("../Presentation/ngApp/img/trainStation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.devhome-background{
    background-color:dodgerblue;
}

p {
    font-size: 200%;
}

.vertical-center {
    min-height: 100%;
    /*vh= viewport height. percent of the size of the container*/
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilepic {
    height: 200px;
    width: 200px;
    border: 3px solid dodgerblue;
}
